.main {
    font-size: initial;
}

.profile {
    font-size: inherit;
}

.profile-sec {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5em;
}

.my-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my-icon {
    height: 3em;
    width: 3em;
    margin-right: 1em;
    display: flex;
}

.my-icon img {
    max-height: 3em;
    max-width: 3em;
    margin: auto;
    width:48px;
    object-fit: contain;
}

.my-link {
    color: rgba(59,130,246);
    text-decoration: underline;
}