{{- define "main" }}
    <div class="cv">

        <div class="profile-sec">
            <div class="profile_inner">

                <h1>{{ site.Params.profileMode.title | default site.Title | markdownify }}</h1>
                <span>{{ site.Params.profileMode.subtitle | markdownify }}</span>
            </div>
        </div>

        <br/>

        <h2>Skills</h2>
        <br/>
        {{- partial "skills.html" . -}}
        <br/>

        <h2>Work Experience</h2>
        <br/>
        {{- partial "experience.html" . -}}
        <br/>

        <h2>Certifications</h2>
        <br/>
        {{- partial "certifications.html" . -}}
        <br/>

        <h2>Education</h2>
        <br/>
        {{- partial "education.html" . -}}
        <br/>

    </div>

{{- end }}{{- /* end main */ -}}
