{{- range site.Pages -}}
    {{ if and (.IsPage) (eq .Type "certifications")}}
        <article class="post-entry">
            <div class="my-flex">
                <div class="my-icon">
                    <img src="{{.Params.icon  | absURL }}" alt="icon for {{.Params.where}} "/>
                </div>
                <div>
                    <b>{{.Title}}</b>
                    <br/>
                    {{.Params.year}}
                </div>
            </div>
            <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
        </article>
    {{end}}
{{end}}