{{- range site.Pages -}}
    {{ if and (.IsPage) (eq .Type "education")}}
        <article class="post-entry">
            <div class="my-flex">
                <div class="my-icon">
                    <img src="{{.Params.icon  | absURL }}" alt="icon for {{.Params.school}} "/>
                </div>
                <div>
                    <b>{{.Title}}</b>
                    <br/>
                    {{.Params.year}} - {{.Params.school}}
                </div>
                <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
        </article>
    {{end}}
{{end}}
