<div>
    <div><b>Java:</b> Spring Boot, JSP, play! Framework, JPA, Hibernate</div>
    <div><b>Operations:</b> Kubernetes, OpenStack, OpenShift, Marathon, AWS, Terraform, Docker</div>
    <div><b>Web:</b> React/Redux, Next.js, Typescript, Javascript, Angular</div>
    <div><b>Data:</b> Python, Machine Learning, TensorFlow, Kafka</div>
    <div><b>Tools:</b> Gitlab, Jira, Jenkins, JUnit, Jest, Mockito, Jasmine, Selenium, Maven</div>
    <div><b>Other Technologies:</b> OAuth2, Stripe API, Keycloak, Scala, Kotlin, Arduino, Raspberry Pi</div>
    <div><b>Methods:</b> Scrum, Agile Development, TDD</div>
    <div><b>Language</b>: French, English, German, Spanish (Basics)</div>
</div>