<div>
    <div><b>Java:</b> Spring Boot, Jetty, Tomcat, Servlets, JSP, play! Framework, JPA, Hibernate</div>
    <div><b>Operations:</b> Kubernetes, OpenStack, OpenShift, Marathon, AWS, Terraform, Docker, Jenkins</div>
    <div><b>Web:</b> React/Redux, Next.js, Typescript, Javascript, Angular</div>
    <div><b>Data:</b> Python, Machine Learning, TensorFlow, R, Kafka</div>
    <div><b>Tools:</b> Gitlab, Keycloak, Jira, JUnit, Jest, Mockito, Jasmine, Selenium, IntelliJ, Maven</div>
    <div><b>Other Technologies:</b> OAuth2, Stripe API, Scala, Kotlin, Arduino, Raspberry Pi</div>
    <div><b>Methods:</b> Scrum, Agile Development, TDD</div>
    <div><b>Language</b>: French, English, German, Spanish (Basics)</div>
</div>